@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Spartan:wght@100..900&family=Russo+One&display=swap");
@import "tailwindcss";

@theme {
  --default-font-family: "Antonio", sans-serif;
  --color-planet-white: [#FFF];
  --color-planet-black: [#070724];
  --color-planet-blackwhite: [#38384F];
  --color-planet-838: [#838391];
  --color-planet-419: [#419EBB];
  --color-planet-eda: [#EDA249];
  --color-planet-6f2: [#6F2ED6];
  --color-planet-d14: [#D14C32];
  --color-planet-d83: [#D83A34];
  --color-planet-cd5: [#CD5120];
  --color-planet-1ec: [#1EC2A4];
  --color-planet-2d6: [#2D68F0];
  --font-Spartan: "League Spartan", sans-serif;
}
